*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #d1dae3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    transition: 0.3s;
}

.clock{
    position: relative;
    background-image: url("./assets/clock.png");
    width: 410px;
    height: 410px;
    border-radius: 200px;
    border: 10px solid #d1dae3;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.4),
    0px -15px 15px rgba(255, 255, 255, 0.3),
    inset 0px 5px 5px rgba(0, 0, 0, 0.4),
  inset  0px -5px 5px rgba(255, 255, 255, 0.3)
    ;
    display: flex;
    justify-content: center;
}

.hour{
    height: 80px;
    width: 8px;
    border-radius: 50px;
    background-color: #ff1058;
    top: calc(50% - 80px);
}
.min{
    height: 105px;
    width: 4px;
    border-radius: 50px;
    background-color:#1d2732;
    top: calc(50% - 105px);
}

.sec::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #2593f8 ;
    bottom: -10px; 
    border-radius: 10px;
}
.sec::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 3px;
    border-radius: 5px;
    background-color:#2593f8;
   /* top: calc(50% - 120px); */
    bottom: -35px; 
}
.sec{
    height: 120px;
    width: 3px;
    border-radius: 50px;
    background-color:#2593f8;
    top: calc(50% - 120px);
    display: flex;
    justify-content: center;
}
.cl{
    position: absolute;
    transform-origin: bottom;
}
/*
.clock:hover{
    box-shadow: 0px 0 15px 2px rgba(0, 0, 0, 0.5),
    inset 0px 0 5px 0px rgba(0, 0, 0, 0.5),
    10px 0 15px 2px rgba(0, 0, 0, 0.2);
}
*/
.dark{
    position: absolute;
    top: 2vw;
    right: 2vw;
    cursor: pointer;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:#091a21;
} 

.darkCont{
    background-color: #091a21;

}

.light{
    color:#d1dae3;
}  

.clockD{
    border-color: #091a21;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.4),
    0px -10px 15px rgba(255, 255, 255, 0.1),
    inset 0px 5px 5px rgba(0, 0, 0, 0.4),
  inset  0px -3px 4px rgba(255, 255, 255, 0.1)
    ;
}
.minD{
    background-color: #d1dae3;
}